html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    text-align: left;
    zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

table {
    border-collapse: collapse;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 100%;
    font-weight: normal;
    line-height: 1;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: 16px;
}

textarea {
    resize: none;
    -webkit-appearance: none;
    border-radius: 0;
}

th,
td {
    border-collapse: collapse;
}

ul,
ol {
    list-style-type: none;
}

img {
    vertical-align: text-bottom;
    vertical-align: -webkit-baseline-middle;
    max-width: 100%;
    height: auto;
    width: auto;
}

html {
    font-size: calc(100vw/14.4);
}

body {
    font-size: 0.16rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../img/Group\ 4.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

video {
    border: 10px solid #FF69B4;
}

.gakky-section {
    padding: 0.8rem 0.5rem 0;
    text-align: center;
}

.gakky-comment {
    display: block;
    text-align: center;
    width: 5rem;
    margin: 0.3rem 0 0;
    font-size: 0.2rem;
}

.text-content {
    padding: 0.8rem 0.5rem 0;
    /* width: 50%; */
}

.script1 {
    text-align: center;
    width: 5rem;
    height: 0.7rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0.7rem 0 0.3rem;
    font-size: 0.25rem;
    line-height: 0.6rem;
}

.script2 {
    text-align: center;
    width: 5rem;
    height: 0.7rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 0 0.3rem;
    font-size: 0.25rem;
    line-height: 0.6rem;
}

.script3 {
    text-align: center;
    width: 5rem;
    height: 0.7rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 0 0.3rem;
    font-size: 0.25rem;
    line-height: 0.6rem;
}

.content {
    text-align: center;
    width: 5rem;
    height: 1.2rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 0.25rem;
    line-height: 0.6rem;
}

.status {
    text-align: center;
    width: 4.75rem;
    height: 0.6rem;
    background: #FF69B4;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 0.25rem;
    line-height: 0.6rem;
}

.gakky-img {
    display: inline-block;
    width: 5rem;
}

.start-btn {
    text-align: center;
    width: 5rem;
}

.start-btn-contain {
    background: #FF69B4;
    width: 2.5rem;
    height: 0.6rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 0.25rem;
    line-height: 0.6rem;
    margin: 0.2rem 0 0;
}

video {
    display: inline-block;
    width: 5rem;
}